{{ define "main" }}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <main>

<H1>Garmin Activity Data</H1>  
<br>
{{ $files := (readDir "assets/data/garmin/jsons/") }}
{{ $files := sort $files "Name" "desc" }}
{{ range $files }}
    {{ if and (eq (path.Ext .Name) ".json") (not (hasPrefix .Name "0000_")) }}
        {{ $data := dict }}
        {{ $p := printf "data/garmin/jsons/%s" .Name }}
        {{ with resources.Get $p }}
            {{ $data = . | transform.Unmarshal }}
        {{ else }}
            {{ errorf "Unable to get resource %q" $p }}
        {{ end }}

{{ partial "garmin_summary.html" (dict "garmindata" $data) }}

{{ end }} <!-- Ending If -->

{{ end }} <!-- ENding range files -->




</main>





{{end}}
