{{ define "main" }}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <main>
<!--      {{ .Content }}
-->
<!-- Syndication fetch -->
<!-- End of Syndication fetch -->


<h2>{{ .Title }}</h2>

<p> A summary of all the micro-posts that I might have syndicated elsewhere. Quite a bit of the functionality on this page might be broken.
</p>
<hr>

    {{ $articles := .Site.RegularPages }}
    {{ range where $articles "Params.tags" "intersect" (slice "micro" "add-other-tags" ) }}
    {{ $validKinds := slice "ReplyReply" "ThoughtReply" "StatusNote" "PhotoNote" }}
    {{ $KindsClass := ""}}
    {{ if eq .Params.IWkind "PhotoNote" }}
     {{ $KindsClass = "is-photo" }}
    {{ else if eq .Params.IWkind "StatusNote" }}
     {{ $KindsClass = "is-note"  }}
    {{ else if eq .Params.IWkind "ThoughtReply"}}
     {{ $KindsClass = "is-reply"  }}
    {{ else if eq .Params.IWkind "ReplyReply" }}
     {{ $KindsClass = "is-reply" }}
    {{ else }}
     {{ $KindsClass = "is-note" }}
    {{ end }}
    <a href="{{ .RelPermalink }}" class="{{$KindsClass}} no-indent"><u>{{.PublishDate.Format "02 Jan 2006"}}</u>:</a>
        <div class="post-content">
        {{ $images := .Resources.ByType "image" }}
	    <ol class="photo-list {{ if eq (len $images) 1 }}single-image{{ end }} no-indent">
	        {{ range $images }}
	            {{ with . }}
	                <li><img src="{{ .RelPermalink }}" alt="{{ $.Description }}"></li>
	            {{ end }}
	        {{ end }}
	    </ol>
        {{ $contentWithoutImages := .Content | replaceRE "<img[^>]*>" "" }}
        <div>{{ $contentWithoutImages | safeHTML }}</div>
        </div>

    {{ end }}

  </main>
</div>
</div>
</div>

{{end}}
