{{ define "main" }}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <main>
      {{ .Content }}

	{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
	{{ range $pages.GroupByPublishDate "2006" }}

	<h1 id="{{.Key | urlize}}">{{ .Key }}</h1>
          
          <ol class="photo-list no-indent">
	           {{ range sort .Pages "PublishDate" "desc" }}
                            {{ $link := .Permalink }}		            
                            {{ $firstImage := index (.Resources.ByType "image") 0 }}
		            {{ $firstImage = $firstImage.Fit "480x480" }}
                            {{ with $firstImage }}
                                        <li>
                                            <a href="{{ $link }}" title="{{$.Title }}">
			                     <img src="{{ $firstImage.RelPermalink }}" alt="{{ $.Description }}">
			                   </a>
			        	</li>
                             {{ end }}
	           {{ end }}
	           <li></li>
           </ol>			
	{{ end }}

  </main>
</div>
</div>
</div>

{{end}}
