{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
<footer class="footer">

<section class="h-card">
     <a class="u-url u-uid" href={{ .Site.BaseURL }}>
      <span class="p-name"> {{ .Site.Params.author.name }}</span>
    </a>
    
    <span><img class="u-photo" src="/images/favicon/favicon-32x32.png" style="display: none;" alt=""></span>

    <span class="p-note">
      <br>Mountains, Family, Privacy and everything else. <br>
      Current location: <span class="p-locality">CDMX >> Cameroon.</span><br>
      Contact: <a class="u-url" rel="me" href="https://micro.blog/sp">Micro.blog</a> | 
               <a class="u-url" rel="me" href="https://chat.srkn.org/@ssp">Fediverse</a> | 
               <a class="u-url" rel="me" href="https://github.com/sriperinkulam">Github</a>
   </span>

</section>

</footer>
{{- /* Footer custom content area end */ -}}
